{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etrain</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/lib/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Making Your Education
                                Better And Inclusive</h1>
                            <p>Replenish seasons may male hath fruit beast were seas saw you arrie said man beast whales
                                his void unto last session for bite. Set have great you'll male grass yielding yielding
                                man</p>
                            <a href="{% url 'course_list' %}" class="btn_1">View Course </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part End-->



    <!-- jquery -->
    <script src="{% static "js/jquery-1.12.1.min.js" %}"></script>
    <!-- bootstrap js -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
 
</body>

</html>