.testimonials {
    .testimonial-wrap {
        padding-left: 50px;
    }

    .testimonial-item {
        box-sizing: content-box;
        padding: 30px 30px 30px 60px;
        margin: 30px 15px;
        min-height: 200px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        position: relative;
        background: #fff;

        .testimonial-img {
            width: 90px;
            border-radius: 10px;
            border: 6px solid #fff;
            position: absolute;
            left: -45px;
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: #111;
        }

        h4 {
            font-size: 14px;
            color: #999;
            margin: 0;
        }

        .quote-icon-left {
            color: rgb(3, 168, 124);
            font-size: 26px;
            display: inline-block;
            left: -5px;
            position: relative;
        }

        .quote-icon-right {
            color: rgb(3, 168, 124);
            font-size: 26px;
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
        }

        p {
            margin: 15px auto 15px auto;
        }
    }

    .owl-nav {
        margin-top: 5px;
        text-align: center;
    }

    .owl-dots {
        margin-top: 5px;
        text-align: center;
    }

    .owl-dot {
        display: inline-block;
        outline: none;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ddd !important;
    }

    .owl-dot.active {
        background-color: rgb(3, 168, 124) !important;
    }
}

@media (max-width: 767px) {
    .testimonials {
        .testimonial-wrap {
            padding-left: 0;
        }

        .testimonial-item {
            padding: 30px;
            margin: 15px;

            .testimonial-img {
                position: static;
                left: auto;
            }
        }
    }
}