/**************** extend css start ****************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:300,400,500,600,700,800|Roboto:300,400,500");
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_extends.scss */
.btn_1, .btn_2:hover, .main_menu .navbar-toggler:after, .banner_part .banner_text .btn_1, .feature_part .single_feature:hover span {
  background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
}

/* line 6, E:/172 Etrain Education/172_Etrain_Education_html/sass/_extends.scss */
.member_counter {
  background-image: -moz-linear-gradient(0deg, #ee390f 0%, #f9b700 100%);
  background-image: -webkit-linear-gradient(0deg, #ee390f 0%, #f9b700 100%);
  background-image: -ms-linear-gradient(0deg, #ee390f 0%, #f9b700 100%);
}



#header {
  background: hsl(29, 100%, 49%);
  overflow:auto;
  padding:10px 20px;
  border-bottom:6px solid hsl(29, 100%, 49%);
}

#header .logo {
  text-decoration:none;
  font-family:'Roboto', sans-serif;
  font-weight:300;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  float:left;
}

#header a {
  color:#fff;
}

#header .menu {
  list-style:none;
  float:right;
  margin:0;
  padding:0;
}

/**************** extend css start ****************/
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}


/* line 63, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #0c2e60;
  font-family: sans-serif;
}

p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  line-height: 1.929;
  font-size: 14px;
  margin-bottom: 0px;
  color: #888888;
}

img {
  max-width: 100%;
}

a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}


.btn_1 {
  display: inline-block;
  padding: 13.5px 45px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}

/* line 38, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_1:hover {
  color: #fff !important;
  background-position: right center;
  box-shadow: 0px 10px 30px 0px rgba(193, 34, 10, 0.2);
}

@media (max-width: 576px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_1 {
    padding: 10px 30px;
    margin-top: 30px;
  }
}

.btn_2 {
  display: inline-block;
  padding: 13px 39px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #0c2e60;
  color: #0c2e60;
  font-size: 14px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  font-size: 15px;
  font-weight: 500;
}

/* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
.btn_2:hover {
  color: #fff !important;
  background-position: right center;
  border: 1px solid transparent;
}

@media (max-width: 576px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 60, E:/172 Etrain Education/172_Etrain_Education_html/sass/_button.scss */
  .btn_2 {
    padding: 14px 30px;
    margin-top: 30px;
  }
}

/

.banner_part {
  height: 880px;
  position: relative;
  overflow: hidden;
  background-image: url(../img/banner_bg.png);
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: top right;
}

@media (max-width: 576px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 700px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part {
    height: 650px;
  }
}

/* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text {
  display: table;
  width: 100%;
  height: 880px;
}

/* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 576px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: bottom;
  }
}

@media (max-width: 576px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 700px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 750px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 750px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text {
    height: 650px;
  }
}

/* line 68, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #556172;
  margin-bottom: 14px;
}

/* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text h1 {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 27px;
  line-height: 1.18;
}

@media (max-width: 576px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text h1 span {
  color: #ff663b;
}

/* line 106, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text p {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

/* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text .btn_1 {
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  margin-top: 50px;
  padding: 13.5px 45px;
}

@media (max-width: 576px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

/* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part .banner_text .btn_2 {
  margin-top: 50px;
  padding: 13px 46px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

/* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.banner_part:after {
  position: absolute;
  top: 163px;
  width: 41%;
  height: 69%;
  content: "";
  background-image: url(../img/banner_img.png);
  background-size: 100% 100%;
  right: 9%;
}

@media (max-width: 576px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    top: 150px;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../img/banner_img.png);
    background-size: contain;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    top: 110px;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../img/banner_img.png);
    background-size: contain;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    top: 110px;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../img/banner_img.png);
    background-size: contain;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 164, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .banner_part:after {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    content: "";
    background-image: url(../img/banner_img.png);
    background-size: contain;
    right: 5%;
    bottom: 0;
    top: auto;
    background-repeat: no-repeat;
  }
}


p {
	font-size: 14.1px;
	color: #878787;
	line-height: 2.2;
	font-weight: 500;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

::-webkit-input-placeholder {
	font-style: italic;
}

::-ms-input-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

::placeholder {
	font-style: italic;
}

a:hover {
	color: #d82a4e;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	padding: 0 110px;
	margin-bottom: 110px;
}

.section-title h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 25px;
}

.section-title p {
	margin-bottom: 0;
	font-weight: 500;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 115px;
	padding-bottom: 115px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.rating i {
	color: #fbb710;
}

.rating .is-fade {
	color: #e0e3e4;
}

/*------------------
  Course section
---------------------*/

.course-warp {
	max-width: 1559px;
	padding: 0 0px;
	margin: 0 auto -30px;
}

.course-item {
	margin-bottom: 30px;
}

.course-item .course-thumb {
	height: 270px;
}

.course-item .course-thumb .price {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background: #d82a4e;
	display: inline-block;
	padding: 13px 19px;
	margin: 14px;
}

.course-item .course-info {
	background: #edf4f6;
}

.course-item .course-info .course-text {
	padding: 45px 33px 25px;
}

.course-item .course-info .course-text h5 {
	margin-bottom: 5px;
}

.course-item .course-info .course-text .students {
	font-size: 18px;
	font-weight: 600;
	color: #d82a4e;
}

.course-item .course-info .course-author {
	border-top: 1px solid #d4dee1;
	padding: 14px 33px;
	overflow: hidden;
}

.course-item .course-info .course-author .ca-pic {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	float: left;
}

.course-item .course-info .course-author p {
	padding-left: 60px;
	margin-bottom: 0;
	padding-top: 7px;
	font-weight: 600;
}

.course-item .course-info .course-author p span {
	color: #d82a4e;
}

.course-item.featured-course {
	position: relative;
	margin-bottom: 97px;
}

.course-item.featured-course:last-child {
	margin-bottom: 30px;
}

.course-item.featured-course:nth-child(2n) .course-thumb {
	left: auto;
	right: 0;
}

.course-item.featured-course .course-thumb {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}

.course-item.featured-course .fet-note {
	display: inline-block;
	background: #d82a4e;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 15px;
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-text {
	padding: 70px 33px 25px;
}

.course-item.featured-course .course-info .course-text h5 {
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-author {
	border-top: none;
	padding: 14px 33px 60px;
}

#modules {
	list-style: none;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 60px;
}

#modules li {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	color: #474747;
	padding: 12px 10px 5px;
	margin: 0 10px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#modules li a {
  font-family: "Quicksand", Arial, sans-serif;
  color: hsl(27, 95%, 40%);
  font-weight: 600;
}
.course-filter li.mixitup-control-active {
	color: #d82a4e;
	border-bottom: 4px solid #d82a4e;
}

.section-title h2{
  font-family: Permanent Marker;
}

.course-text h5{
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 700;
  font-size: 28px;

}

.course-text p{
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
}