{% extends "base2.html" %}
{% block content %}
  <div class="container">
  <div id="header">
    <a href="/" class="logo">Educa</a>
    <ul class="menu">
      {% if request.user.is_authenticated %}
      <li><a href="{% url "logout" %}">Sign out</a></li>
      {% else %}
      <li><a href="{% url "login" %}">Sign in</a></li>
      {% endif %}
    </ul>
  </div>
  <!-- course section -->
  <section class="course-section spad">
    <div class="container">
      <div class="section-title mb-0">
        <h2>
          {% if subject %}
          {{ subject.title }} courses
          {% else %}
          All courses
          {% endif %}
        </h2>
      </div>
    </div>
    <div class="course-warp">
      <ul id="modules">
        <li {% if not subject %}class="selected" {% endif %}>
            <a href="{% url "course_list" %}">All</a>
        </li>
        {% for s in subjects %}
        <li {% if subject == s %}class="selected" {% endif %}>
            <a href="{% url "course_list_subject" s.slug %}">
                {{ s.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
      <div class="row course-items-area">
        {% for course in courses %}
        {% with subject=course.subject %}
        <div class="mix col-lg-3 col-md-4 col-sm-6 finance">
          <div class="course-item">

            <div class="course-info">
              <div class="course-text">
                <h5><a href="{% url "course_detail" course.slug %}">
                    {{ course.title }}</a></h5>
                <p>
                  <a href="{% url "course_list_subject" subject.slug %}">
                    {{ subject }}</a>.
                  {{ course.total_modules }} modules.
                  Instructor: {{ course.owner }}
                </p>
              </div>
            </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}